<!DOCTYPE html>
<html class="has-navbar-fixed-top has-navbar-fixed-bottom">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bender Commands</title>
        <meta name="theme-color" content="#014cc4">
    	<meta name="og:title" content="Bender Commands">
    	<meta name="og:description" content="A list of Bender's 180+ commands with usage details and examples.">
        <meta name="description" content="A list of Bender's 180+ commands with usage details and examples.">
    	<meta name="og:image" content="./bender.png">
    	<meta name="og:site_name" content="Bender Bot">
    	<meta name="og:url" content="https://benderbot.co/">
        <meta name="og:image" content="https://benderbot.co/bender.png">
        <link rel="stylesheet" href="./bulmaswatch.min.css">
        <link rel="stylesheet" href="./style.css?v=69.420">
        <script src="./vue.min.js"></script>
        <script defer src="./simple-markdown.min.js"></script>
        <script defer src="./stuff_commands.js?v=69"></script>
        <script defer src="./masonry.pkgd.min.js"></script>
    </head>
    <body><div id="body">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" @click="menu_open = !menu_open" :class="menu_open ? 'is-active navbar-burger burger' : 'navbar-burger burger'" aria-label="menu" aria-expanded="false" data-target="nmenu" id="nmenu-button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                <a class="navbar-item" href="/">
                    <img class="round" src="./bender.png" height="32">
                    <span class="title is-5" id="bender-label">&nbsp;Bender</span>
                </a>
            </div>
            <div class="navbar-buttons">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="/support">
                            <strong>Support server</strong>
                        </a>
                        <a class="button is-primary" href="https://dashboard.benderbot.co">
                            Dashboard
                        </a>
                    </div>
                </div>
            </div>
            <div id="nmenu" :class="menu_open ? 'is-active navbar-menu' : 'navbar-menu'">
                <div class="navbar-start">
                    <a class="navbar-item" href="/commands"><u>Commands</u></a>
                    <a class="navbar-item" href="/invite">Invite to your server</a>
                    <a class="navbar-item" href="/pro">Bender Pro</a>
                    <a class="navbar-item" href="/donate">Donate</a>
                    <a class="navbar-item" href="https://discordservers.me" target="_blank">Server list<div class="small">discordservers.me</div></a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="/support">
                                <strong>Support server</strong>
                            </a>
                            <a class="button is-primary" href="https://dashboard.benderbot.co">
                                <strong>Dashboard</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="tab-container has-text-centered">
                <button v-for="(data, group) in commands" @click="selected_group = group" :class="selected_group === group ? 'button is-primary' : 'button'"><a>{{ groupNames[group] }}</a></button>
            </div>
            <hr class="thin">
        </section>
        <section class="section ntp">
            <div v-for="(data, group) in commands" :id="group" class="container has-text-centered" v-show="selected_group === group">
                <div class="command sizer"></div>
                <div v-for="command in data" class="command box ib" :id="command.name">
					<span class="code">{{ prefix }}{{ command.name }}</span> - <span v-html="parseMD(command.description)"></span>
					<hr class="mid">
					<div class="usage" v-if="command.format">
						<span class="category">Usage:</span> <span class="code">{{ prefix }}{{ command.name }} {{ command.format }}</span>
					</div>
					<br v-if="command.format">
                    <div v-html="parseMD(command.details || '')"></div>
					<br v-if="command.details">
					<div class="usage aliases" v-if="command.aliases">
						<span class="category">Aliases: </span>
						<span v-for="alias in command.aliases" class="code">{{ prefix }}{{ alias }}</span>
					</div>
					<div class="usage examples" v-if="command.examples">
						<span class="category">Examples:</span>
						<span class="code" v-for="example in command.examples">{{ prefix }}{{ example }}<br></span>
					</div>
				</div>
                <div class="has-text-centered" v-show="!data.length">
                    <span class="subtitle is-6">No commands in this category.</span>
                </div>
            </div>
    	</section>
        <footer class="footer navbar is-fixed-bottom">
            <div class="navbar-start">
                <span class="c cb">Created by</span>
                <span class="user">
                    <img :src="getAvatar(joe_mama)" class="pfp" :alt="joe_mama.username + '\'s avatar'">
                    {{ joe_mama.username }}<span class="discrim">#{{ joe_mama.discriminator }}</span>
                </span>
                <span class="c cb">with help from</span>
                <span class="user">
                    <img :src="getAvatar(dutchman)" class="pfp" :alt="dutchman.username + '\'s avatar'">
                    {{ dutchman.username }}<span class="discrim">#{{ dutchman.discriminator }}</span>
                </span>
            </div>
            <div class="navbar-end c">
                <a class="c" href="/tos">Privacy Policy</a> |
                <a class="c cu" href="mailto:contact@benderbot.co">Contact Us</a>
            </div>
        </footer>
    </div></body>
</html>
