<!DOCTYPE html>
<html class="has-navbar-fixed-top has-navbar-fixed-bottom">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bender</title>
        <meta name="theme-color" content="#014cc4">
    	<meta name="og:title" content="Bender">
    	<meta name="og:description" content="A high-quality Discord bot packed with features and over 180 commands.">
        <meta name="description" content="A high-quality Discord bot packed with features and over 180 commands.">
    	<meta name="og:image" content="./bender.png">
    	<meta name="og:site_name" content="Bender Bot">
    	<meta name="og:url" content="https://benderbot.co/">
        <meta name="og:image" content="https://benderbot.co/bender.png">
        <link rel="stylesheet" href="./bulmaswatch.min.css">
        <link rel="stylesheet" href="./style.css?v=1337">
        <script src="./vue.min.js"></script>
        <script defer src="./stuff.js?v=69"></script>
    </head>
    <body><div id="body">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" @click="menu_open = !menu_open" :class="menu_open ? 'is-active navbar-burger burger' : 'navbar-burger burger'" aria-label="menu" aria-expanded="false" data-target="nmenu" id="nmenu-button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                <a class="navbar-item" href="/">
                    <img class="round" src="./bender.png" height="32">
                    <span class="title is-5" id="bender-label">&nbsp;Bender</span>
                </a>
            </div>
            <div class="navbar-buttons">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="/support">
                            <strong>Support server</strong>
                        </a>
                        <a class="button is-primary" href="https://dashboard.benderbot.co">
                            <strong>Dashboard</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div id="nmenu" :class="menu_open ? 'is-active navbar-menu' : 'navbar-menu'">
                <div class="navbar-start">
                    <a class="navbar-item" href="/commands">Commands</a>
                    <a class="navbar-item" href="/invite">Invite to your server</a>
                    <a class="navbar-item" href="/pro">Bender Pro</a>
                    <a class="navbar-item" href="/donate">Donate</a>
                    <a class="navbar-item" href="/customcommands">Custom Commands</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="/support">
                                <strong>Support server</strong>
                            </a>
                            <a class="button is-primary" href="https://dashboard.benderbot.co">
                                <strong>Dashboard</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="centered-container">
                <img id="bender_art" src="https://benderbot.co/bender-painting.png">
                <div id="feature_overview">
                    <h1 class="title">What does Bender do for my server?</h1>
                    <h2 class="subtitle">
                        Bender is a high-quality bot packed with many features (over 180 commands!) To name a few:
                    </h2>
                    <p>
                        <ul>
                            <li><img class="icon" src="https://twemoji.maxcdn.com/2/72x72/2728.png"> <strong>NEW in v3!</strong> A robust custom commands system that lets you create your own commands and auto-responders!</li>
                            <li><img class="icon" src="https://twemoji.maxcdn.com/2/72x72/1f6e1.png"> A customizable agreement system to require users to accept the rules/terms before joining your server.</li>
                            <li><img class="icon" src="https://twemoji.maxcdn.com/2/72x72/1f528.png"> Moderation and automod commands to keep your server clear of spammers and other undesirable people.</li>
                            <li><img class="icon" src="https://twemoji.maxcdn.com/2/72x72/1f3ae.png"> Game stats commands for many popular games, including Apex Legends, CSGO, PUBG, Battlefield V, and more.</li>
                            <li><img class="icon" src="https://twemoji.maxcdn.com/2/72x72/1f512.png"> Configurable permissions system so you can choose the exact level of access you want for each command.</li>
                            <li><img class="icon" src="https://twemoji.maxcdn.com/2/72x72/1f51e.png"> NSFW commands that can fetch a variety of images, GIFs, and videos.</li>
                            <li><img class="icon" src="https://twemoji.maxcdn.com/2/72x72/1f5bc.png"> Image editing commands & meme creation commands (available with <a href="/pro">Bender Pro</a>.)</li>
                        </ul>
                    </p>
                    <br>
                    <span>
                        To see more info about Bender's features, see the <a href="/commands">commands page</a>.
                    </span>
                </div>
            </div>
        </section>
        <hr>
        <section class="section thin has-text-centered">
            <div class="container">
                <p>
                    Currently powering <span class="stat"><strong class="stat-num">{{ (botStats.totalGuilds || 0).toLocaleString() }}</strong><span class="stat-label"> servers</span></span>
                    with <span class="stat"><strong class="stat-num">{{ (botStats.totalUsers || 0).toLocaleString() }}</strong><span class="stat-label"> users</span></span>
                    <span v-if="botStats.sharded">on <span class="stat"><strong class="stat-num">{{ botStats.shardCount }}</strong><span class="stat-label"> shards</span></span></span>
                    &nbsp;-&nbsp; &nbsp;For details see the <a href="/stats">stats page</a> or the <a href="https://status.benderbot.co">status website</a>.
                </p>
            </div>
        </section>
        <hr>
        <section class="section">
            <div class="centered-container">
                    <h1 class="title">Sponsors</h1>
                    <h2 class="subtitle">
                        Special thanks to our sponsors, who have made Bender possible by donating!
                    </h2>
                    <span class="user" v-for="user in sponsors">
                        <img :src="getAvatar(user)" class="pfp" :alt="user.username + '\'s avatar'">
                        {{ user.username }}<span class="discrim">#{{ user.discriminator }}</span>
                    </span>
            </div>
        </section>
        <footer class="footer navbar is-fixed-bottom">
            <div class="navbar-start">
                <span class="c cb">Created and developed by</span>
                <span class="user">
                    <img :src="getAvatar(joe_mama)" class="pfp" :alt="joe_mama.username + '\'s avatar'">
                    {{ joe_mama.username }}<span class="discrim">#{{ joe_mama.discriminator }}</span>
                </span>
                <span class="c cb">and</span>
                <span class="user">
                    <img :src="getAvatar(dutchman)" class="pfp" :alt="dutchman.username + '\'s avatar'">
                    {{ dutchman.username }}<span class="discrim">#{{ dutchman.discriminator }}</span>
                </span>
            </div>
            <div class="navbar-end c">
                <a class="c" href="/tos">Privacy Policy</a> |
                <a class="c cu" href="mailto:contact@benderbot.co">Contact Us</a>
            </div>
        </footer>
    </div></body>
</html>
