html {
	overflow-y: auto;
}
@font-face {
	font-family: FuturamaBold;
	src: url(./fr-bold.woff2);
}
#bender-label {
	font-family: FuturamaBold;
}
.footer {
    padding: 10px;
}
.navbar-brand .navbar-item {
	border-right: 2px solid #287eff;
}
.navbar {
	background-color: #2828ff;
}
.navbar .button.is-light {
    background-color: #287eff;
    color: #fff;
}
.navbar .button.is-primary {
    background-color: #d50000;
}
a.navbar-item:hover, .navbar-burger:hover {
    background-color: #287eff;
    color: #fff;
}
footer.navbar {
    background-color: #282f2f;
}
footer.navbar .content {
    margin: auto;
    margin-top: 9px;
}
.navbar-burger {
	color: #fff;
	margin-left: 0;
}
.navbar-burger span {
    height: 2px;
}
.navbar-burger span:nth-child(3) {
    height: 2.5px;
    top: calc(50% + 3.5px);
}
@media screen and (max-width: 1023px) {
	.navbar .navbar-menu {
		background-color: #282f2f !important;
	}
}